body{
  overflow-x: hidden;
  background-color:#000814 ;
  /* background-color : "#000814" */
}
/* 
.homepagebg {
  height: 333px;
  background-image: url("./assets/images/homebg.svg");
  background-size: cover;
  z-index: 50;
  width : 100%
} */

input::-ms-reveal {
  display: none;
}
input::-ms-clear {
  display: none;
}
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
